QWEN_API_URL=https://openrouter.ai/api/v1/chat/completions
QWEN_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TEXT_MODEL_NAME=qwen/qwen3-next-80b-a3b-instruct
IMAGE_MODEL_NAME=google/gemini-2.5-flash-image-preview
NEXT_PUBLIC_SUPABASE_URL=https://nqikccecqhkgoqjtmpdh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
